.row
  .col-sm-6
    = form.input :calories,
      as: :having_unit,
      parent_object: parent_object,
      wrapper: :horizontal_input_group
  .col-sm-6
    = form.input :carbohydrates,
      as: :having_unit,
      parent_object: parent_object,
      wrapper: :horizontal_input_group

.row
  .col-sm-6
    = form.input :protein,
      as: :having_unit,
      parent_object: parent_object,
      wrapper: :horizontal_input_group
  .col-sm-6
    = form.input :total_fat,
      as: :having_unit,
      parent_object: parent_object,
      wrapper: :horizontal_input_group
.row
  .col-sm-6
    = form.input :saturated_fat,
      as: :having_unit,
      parent_object: parent_object,
      wrapper: :horizontal_input_group
  .col-sm-6
    = form.input :monounsaturated_fat,
      label: 'Monounsat. Fat',
      as: :having_unit,
      parent_object: parent_object,
      wrapper: :horizontal_input_group

.row
  .col-sm-6
    = form.input :polyunsaturated_fat,
      label: 'Polyunsat. Fat',
      as: :having_unit,
      parent_object: parent_object,
      wrapper: :horizontal_input_group
  .col-sm-6
    = form.input :omega_3,
      label: 'Omega-3',
      as: :having_unit,
      parent_object: parent_object,
      wrapper: :horizontal_input_group

.row
  .col-sm-6
    = form.input :omega_6,
      label: 'Omega-6',
      as: :having_unit,
      parent_object: parent_object,
      wrapper: :horizontal_input_group
  .col-sm-6
    = form.input :total_fiber,
      as: :having_unit,
      parent_object: parent_object,
      wrapper: :horizontal_input_group

.row
  .col-sm-6
    = form.input :soluble_fiber,
      as: :having_unit,
      parent_object: parent_object,
      wrapper: :horizontal_input_group
  .col-sm-6
    = form.input :insoluble_fiber,
      as: :having_unit,
      parent_object: parent_object,
      wrapper: :horizontal_input_group

.row
  .col-sm-6
    = form.input :cholesterol,
      as: :having_unit,
      parent_object: parent_object,
      wrapper: :horizontal_input_group
  .col-sm-6
    = form.input :calcium,
      as: :having_unit,
      parent_object: parent_object,
      wrapper: :horizontal_input_group

.row
  .col-sm-6
    = form.input :chloride,
      as: :having_unit,
      parent_object: parent_object,
      wrapper: :horizontal_input_group
  .col-sm-6
    = form.input :chromium,
      as: :having_unit,
      parent_object: parent_object,
      wrapper: :horizontal_input_group

.row
  .col-sm-6
    = form.input :copper,
      as: :having_unit,
      parent_object: parent_object,
      wrapper: :horizontal_input_group
  .col-sm-6
    = form.input :iodine,
      as: :having_unit,
      parent_object: parent_object,
      wrapper: :horizontal_input_group

.row
  .col-sm-6
    = form.input :iron,
      as: :having_unit,
      parent_object: parent_object,
      wrapper: :horizontal_input_group
  .col-sm-6
    = form.input :magnesium,
      as: :having_unit,
      parent_object: parent_object,
      wrapper: :horizontal_input_group

.row
  .col-sm-6
    = form.input :manganese,
      as: :having_unit,
      parent_object: parent_object,
      wrapper: :horizontal_input_group
  .col-sm-6
    = form.input :molybdenum,
      as: :having_unit,
      parent_object: parent_object,
      wrapper: :horizontal_input_group

.row
  .col-sm-6
    = form.input :phosphorus,
      as: :having_unit,
      parent_object: parent_object,
      wrapper: :horizontal_input_group
  .col-sm-6
    = form.input :potassium,
      as: :having_unit,
      parent_object: parent_object,
      wrapper: :horizontal_input_group

.row
  .col-sm-6
    = form.input :selenium,
      as: :having_unit,
      parent_object: parent_object,
      wrapper: :horizontal_input_group
  .col-sm-6
    = form.input :sodium,
      as: :having_unit,
      parent_object: parent_object,
      wrapper: :horizontal_input_group

.row
  .col-sm-6
    = form.input :sulfur,
      as: :having_unit,
      parent_object: parent_object,
      wrapper: :horizontal_input_group
  .col-sm-6
    = form.input :zinc,
      as: :having_unit,
      parent_object: parent_object,
      wrapper: :horizontal_input_group

.row
  .col-sm-6
    = form.input :vitamin_a,
      label: 'Vitamin A',
      as: :having_unit,
      parent_object: parent_object,
      wrapper: :horizontal_input_group
  .col-sm-6
    = form.input :vitamin_b6,
      label: 'Vitamin B6',
      as: :having_unit,
      parent_object: parent_object,
      wrapper: :horizontal_input_group

.row
  .col-sm-6
    = form.input :vitamin_b12,
      label: 'Vitamin B12',
      as: :having_unit,
      parent_object: parent_object,
      wrapper: :horizontal_input_group
  .col-sm-6
    = form.input :vitamin_c,
      label: 'Vitamin C',
      as: :having_unit,
      parent_object: parent_object,
      wrapper: :horizontal_input_group

.row
  .col-sm-6
    = form.input :vitamin_e,
      label: 'Vitamin E',
      as: :having_unit,
      parent_object: parent_object,
      wrapper: :horizontal_input_group
  .col-sm-6
    = form.input :vitamin_k,
      label: 'Vitamin K',
      as: :having_unit,
      parent_object: parent_object,
      wrapper: :horizontal_input_group

.row
  .col-sm-6
    = form.input :thiamin,
      as: :having_unit,
      parent_object: parent_object,
      wrapper: :horizontal_input_group
  .col-sm-6
    = form.input :riboflavin,
      as: :having_unit,
      parent_object: parent_object,
      wrapper: :horizontal_input_group

.row
  .col-sm-6
    = form.input :niacin,
      as: :having_unit,
      parent_object: parent_object,
      wrapper: :horizontal_input_group
  .col-sm-6
    = form.input :folate,
      as: :having_unit,
      parent_object: parent_object,
      wrapper: :horizontal_input_group

.row
  .col-sm-6
    = form.input :pantothenic_acid,
      label: 'Panto. acid',
      as: :having_unit,
      parent_object: parent_object,
      wrapper: :horizontal_input_group
  .col-sm-6
    = form.input :biotin,
      as: :having_unit,
      parent_object: parent_object,
      wrapper: :horizontal_input_group

.row
  .col-sm-6
    = form.input :choline,
      as: :having_unit,
      parent_object: parent_object,
      wrapper: :horizontal_input_group
