@mixin center-align {
  margin: 0 auto;
}

h1 {
  margin-bottom: 1em;
  text-align: center;
}


.container {
  @include center-align;
  width: 900px;
}

.columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: -20px;

  .form-group {
    flex: 1 1 auto;
    display: flex;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 20px;

    &:before {
      display: none;
    }

    &:after {
      display: none;
    }

    label, .input-group {
      flex: 0 1 auto;
    }

    label {
      padding-left: 20px;
      padding-right: 20px;
    }

    .input-group {
      flex-grow: 1;
      display: flex;
      margin-right: 5px;
    }

    .form-control {
      display: block;
      flex: 1 0 auto;
    }

    .input-group-addon {
      width: auto;
      display: inline;
      flex: 0 0 auto;
      line-height: inherit;
    }
  }
}

form {
  .buttons {
    text-align: center;
    margin-bottom: 1em;
  }

  .center {
    text-align: center;

    .form-control {
      display: inline;
      float: none;
    }
  }
}

dl.nutrients {
  @extend .row;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;

  dt, dd {
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
  }

  dt {
    @extend .col-sm-4;
    display: block;
    clear: both;
  }

  dd {
    @extend .col-sm-8;
    display: block;
  }
}
