.ingredients {
  .columns {
    .form-control {
      width: 80px
    }

    .input-group {
      flex-basis: 180px
    }
  }
}

.ingredient {
  padding-bottom: 5px;

  .meta {
    font-size: 0.9em;
    list-style: none;
    margin: 0;
    padding: 0;
    color: gray;

    &, li {
      display: inline;
    }

    li {
      padding-left: 10px;
    }
  }

  .delete {
    padding-top: 0;
    padding-bottom: 0;
    vertical-align: middle;
  }
}

.ingredient-detail {
  h2 {
    text-align: center;
  }

  h3 {
    @extend .row;
  }

  .percentage-of-min {
    color: gray;
  }
}
