.optimal_recipes-show, .optimal_recipes_from_diy_soylent-show {
  .container {
    width: auto
  }

  .optimal-recipes {
    th, td {
      width: 1px;
      white-space: nowrap;
    }

    td {
      text-align: right;
    }

    .ingredient-name {
      min-width: 300px;
      white-space: normal;
    }

    .non-important {
      th, td {
        color: silver;
      }
    }

    .beginning-of-basic-columns {
      border-left: 4px solid #ddd;
    }

    .total-row {
      border-top: 4px solid #ddd;
    }

    .min-requirement-underachieved {
      background-color: #F0F4FD;

      &.completeness-score {
        color: #2727B6;
        font-weight: bold;
      }
    }

    .max-requirement-overachieved {
      background-color: #FFF2F0;

      &.completeness-score {
        color: #B30303;
        font-weight: bold;
      }
    }

    .max-requirement-achieved {
      background-color: #E8FCE8;

      &.completeness-score {
        color: #157015;
        font-weight: bold;
      }
    }
  }
}
