.optimal_recipes {
  .container {
    width: auto
  }

  .optimal-recipes {
    th, td {
      width: 1px;
      white-space: nowrap;
    }

    td {
      text-align: right;
    }

    .ingredient-name {
      min-width: 300px;
      white-space: normal;
    }

    .non-important {
      th, td {
        color: silver;
      }
    }

    .end-of-basic-columns {
      border-right: 4px solid #ddd;
    }

    .total-row {
      border-top: 4px solid #ddd;
    }
  }
}
