.usda-foods {
  form {
    text-align: center;

    .form-control {
      width: 300px;
    }

    button {
      margin-left: 5px;
    }
  }
}

.ingredient-from-usda-food-form {
  margin: 2em 0;
}

.usda-food {
  h3 {
    @extend .row;
  }
}
